body {
  font-family: "Open Sans", sans-serif;
}
.carousel {
  margin-bottom: 0;
  padding: 0px 0px 50px 0px;
}
.carousel-control {
  left: -12px;
  height: 40px;
  width: 40px;
  background: none repeat scroll 0 0 #222222;
  border: 4px solid #ffffff;
  border-radius: 23px 23px 23px 23px;
  margin-top: 90px;
}
.carousel-control.right {
  right: -12px;
}
/* The indicators */
.carousel-indicators {
  top: auto;
  bottom: -10px;
}
/* The colour of the indicators */
body .carousel-indicators li {
  background-color: red;
}

body .carousel-indicators {
  bottom: 0;
}

body .carousel-control-prev-icon,
body .carousel-control-next-icon {
  color: rgb(255, 255, 255);
}
.card {
  /* background-color: #fff; */
  /* background-clip: border-box; */
  border: 0px;
  border-radius: 0.25rem;
}

.card .card-body .card-text {
  font-size: 0.9rem;
  font-weight: 400;
  color: #000000;
}

.page-footer {
  margin-top: 5%;
  bottom: 0;
  left: 0;
  width: 100%;
}
.card {
  /* box-shadow: none!important; */
  border: 1px solid #fff !important;
  box-shadow: none !important;
}

.card:hover {
  /* padding: 20px; */
  border-color: #d3d5df !important;
  box-shadow: 0 4px 7px 0 rgba(218, 220, 230, 0.6) !important;
}
.resname {
  font-size: 20px;
  font-weight: 500;
  word-break: break-word;
}
.catname {
  color: #686b78;
  font-size: 15px;
  /* margin-top: 4px; */
}
.offertext {
  font-size: 10px;
  font-weight: 600;
  color: #8a584b;
}

.tag {
  /* content: ""; */
  position: absolute;
  bottom: -9px;
  width: 0;
  height: 0;
  right: 0;
  border-right: 9px solid transparent;
  border-top: 9px solid #d22b3b;
  z-index: 999;
}
.promoted {
  position: absolute;
  left: -6px;
  top: 5px;
  background-color: #222222 !important;
  color: #fff !important;
  z-index: 999 !important;
  /* margin-left: 5px!important; */
  padding: 2px 34px 7px 11px !important;
  transform: rotate(-20deg);
}
.mypromotedtag {
  position: absolute;
  top: 0;
  left: 0;
  font-family: Helvetica, Arial, sans-serif;
  background: #588fe5;
  display: inline-block;
  color: #fff;
  padding: 10px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  margin: 0 30px 0 0;
  text-decoration: none;
}
.mypromotedtag:hover {
  background-color: #739fe4;
}

.mypromotedtag::after {
  background: #fff;
  width: 10px;
  height: 10px;
  content: "";
  display: inline-block;
  border-radius: 20px;
  margin: 0 5px 0 0;
}
.mypromotedtag::before {
  display: inline-block;
  border: 19px solid;
  border-color: transparent transparent transparent #588fe5;
  height: 0;
  width: 0;
  position: absolute;
  right: -38px;
  top: 0;
  content: "";
  display: inline-block;
}

.mypromotedtag:hover:after {
  border-color: transparent transparent transparent #739fe4;
}

.myinput:focus {
  border-bottom: 1px solid #fc8019 !important;
  box-shadow: 0 1px 0 0 #fc8019 !important;
}
.md-form label {
  color: #222222 !important;
  font-weight: normal !important;
}
.md-form label.active {
  color: #fc8019 !important;
}
