.menu {
    width: 10%;
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    text-decoration: none;
}

ul li a {
    display: block;
    padding: 2px 8px;
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    border-top: 1px solid rgb(0, 0, 0);
    text-decoration: none;
    font-weight: normal;
}

ul li:first-child {
    border: none;
}

ul li a:hover {
    color: black;
    font-weight: 900;
}

h4 {
    font-weight: 800;
}

.demo {
    top: -10px;
    left: -392px;
    z-index: 999;
}