body{
  font-family: 'Open Sans', sans-serif;
}
.icon4 {
  padding: 10px;
  background: #1e90ff;
  color: rgb(255, 255, 255);
  min-width: 70px;
  text-align: center;
}

.input-field {
  width: 100%;
  padding: 5px;
  outline: none;
}

.input-container {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 10px;
}

.input-field:focus {
  border: 2px solid dodgerblue;
}

.tabsbar {
  margin-top: 2%;
  margin-bottom: 0%;
}

.tabsbar li a {
  font-size: 20px;
  font-weight: 900;
  color: black;
}

.tabsbar li {
  margin-right: 2%;
}

.nav-tabs {
  border-bottom: 1px solid #ff8d0b;
}
.nav-tabs > li.active1 > #Restaurants,
.nav-tabs > li.active1 > #Restaurants:hover,
.nav-tabs > li.active1 > #Restaurants:focus {
  border-bottom: 4px solid #ff8d0b;
  color: black;
}

.nav-tabs > li.active1 > #Dishes,
.nav-tabs > li.active1 > #Dishes:hover,
.nav-tabs > li.active1 > #Dishes:focus {
  border-bottom: 4px solid #ff8d0b;
  color: black;
}

.card {
  border: 0px;
  border-radius: 0.25rem;
}

.card .card-body .card-text {
  font-size: .9rem;
  font-weight: 400;
  color: #000000;
}

.page-footer {
  margin-top: 5%;
  bottom: 0;
  left: 0;
  width: 100%;
}
.card{
  border: 1px solid #fff!important;
  box-shadow: none!important;
}

.card:hover{
  border-color: #d3d5df!important;
  box-shadow: 0 4px 7px 0 rgba(218,220,230,.6)!important;
}
.resname{
  font-size: 22px;
  font-weight: 500;
  word-break: break-word;
  color:black!important;
}
.catname{
  color: #686b78;
  font-size: 15px;
}
.offertext{
  font-size: 12px;
  font-weight: 600; 
  color: #8a584b;
  
}


.search-query:focus {
  z-index: 0;
}
#custom-search-input button {
  border: 0;
  background: none;
  padding: 2px 5px;
  position: relative;
  right: -28px;
  margin-bottom: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #d9230f;
  z-index: 999;
}
#custom-search-input a {
    border: 0;
    background: none;
    padding: 2px 5px;
    position: relative;
    left: -70px;
    margin-top: 10px;
    margin-bottom: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #ff8d0b!important;
    z-index: 999;
  }

#custom-search-input .search-query {
  padding-right: 3px;
  padding-right: 4px \9;
  padding-left: 3px;
  padding-left: 4px \9;
  margin-bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 5px;
  height: 50px;
}

#custom-search-input {
  margin: 0;
  margin-top: 10px;
  padding: 0;
  width: 90%;
}

.btnsercolor {
  background-color: #ff8d0b !important;
}
.search-query:focus{
    border: 1px solid #ff8d0b!important;
    box-shadow: none!important;
}
