#wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
  
#wrapper #content-wrapper {
    width: 100%;
}
  
.innercontent {
    margin-top: 5px;
    margin-left: 0px;
}
.page-link{
    color: black!important;
}

.myactive,.page-link:focus{
    background: linear-gradient(45deg, #0288d1, #26c6da) !important;
    background: linear-gradient(45deg, #0288d1, #26c6da) !important;
  -webkit-box-shadow: 0 6px 20px 0 rgba(38, 198, 218, 0.5) !important;
          box-shadow: 0 6px 20px 0 rgba(38, 198, 218, 0.5) !important;
    color: white!important;
    border: 1px solid #26c6da!important;
}